/*-------========// Custom tachyon styles //========-------*/

/* Start custom FONT FAMILY */

.roboto {
    font-family: 'Roboto', courier, monospace;
}

/* End custom FONT FAMILY */

/* Start custom colors */

.color-redOrange {
    color: #e74c3c;
}

.color-navGrey {
    color: #bdc3c7;
}

/* End custom colors */

/* Start custom bg-colors */

.bg-lightBlue {
    background-color: #e6e6e6;
}

/* End custom bg-colors */

/* Start custom height */



/* End custom height */
